
.container{
    display: block;
    position: relative;
}

#current__avg__calculator{
    margin-left: 43%;
    padding-top: 2%;
    
}

#finall__calculator{
    margin-left: 43%;
    padding-top: 2%;
}

#rezultat{
    color: green;
    font-weight: bold;

}

#rezultat_medie_curenta{
    color:blue;
    font-weight: bold;
}

footer{
    position: fixed;
    bottom: 0;
}
h4{
    display: inline;
    
}

a{
    text-decoration: none;
}

#github_logo{
    height:30px; 
    width:auto;
}